<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="MusicApp.Site1" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>

    <%--bootstrap--%>
    <link href="Content/bootstrap.min.css" rel="stylesheet" />
    
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            
        </div>
    </form>
</body>
</html>
