@model List<MusicApp.Models.Album>
@{
    ViewBag.Title = "Index";
}


    <h2>Albums list</h2>

    <a href="/songs/index" class="btn btn-info" style="float: right;">Browse songs</a>
    <hr />

    <a href="/albums/create" class="btn btn-success">Add album</a>
    <hr />

    @{
        @*Listam albumele:*@
        foreach (var album in Model)
        {
            @Html.Partial("_AlbumsListItem", album)
        }
    }
