@model MusicApp.Models.ApplicationUser
@{
    ViewBag.Title = "Details";
}

<h2>User details</h2>

<label>Email:</label>
<p>@Model.Email</p>
<br />
<label>UserName:</label>
<p>@Model.UserName</p>
<br />
<label>Role:</label>
<p>@ViewData["roleName"].ToString()</p>
<br />