
@{
    ViewBag.Title = "Index";
}

<h2>Users List</h2>

<div>
    @foreach (var user in ViewBag.Users)
    {
        <label>Email:</label>
        <p>@user.Email</p>
        <br />
        <label>UserName:</label>
        <p>@user.UserName</p>
        <br />

        @Html.ActionLink("Details", "Details", new { id = user.Id })
        <br />
        @Html.ActionLink("Edit role", "Update", new { id = user.Id })

        <hr />
    }
</div>