@model MusicApp.Models.Song


@*TODO:in linie!*@
@Html.Label("Title", "Title: ")
<p>@Model.Title</p>

@Html.Label("Artist Name", "Artist Name: ")
<p>@Model.ArtistName</p>

<br />
@using (Html.BeginForm(actionName: "Details",
    controllerName: "Songs",
    method: FormMethod.Get,
    routeValues: new { id = Model.Id }))

{
    <button class="btn btn-info">Details</button>
}

<br />
@using (Html.BeginForm(actionName: "Update",
    controllerName: "Songs",
    method: FormMethod.Get,
    routeValues: new { id = Model.Id }))

{
    <button class="btn btn-warning">Update</button>
}


<br />
@using (Html.BeginForm(actionName: "Delete",
    controllerName: "Songs",
    method: FormMethod.Post,
    routeValues: new { id = Model.Id }))

{
    <button class="btn btn-danger">Delete</button>
}
@*<a href="/songs/details/Model.Id" class="btn btn-info">Detalii</a>*@
<hr />

@*actionName = actiunea la care facem referire
    controllerName = controller-ul la care facem referire
    routeValues = parametrul, ca sa puteam vedea aici detalii unei piese in particular*@