@{
    ViewBag.Title = "Songs";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<style>
    body {
        background-color: #0c0c0c;
    }
</style>
<span style="COLOR: white">
    <p>Use this area to provide additional information.</p>
</span>